<p>このページはトップページです。</p>
<div class="container">
<%= image_tag 'zerowan_top01' , class: "topimage"%>
  <p>絞り込み検索</p>
  <%= search_form_for @q, url: search_top_index_path do |f| %>
  <div class="row">
    <div class="col-sm-2">
      <%= f.select :category,
        Pet.categories.keys.map {|k| [k, k]},
        {prompt:"種類▼"},
        {class: 'form-control', required: true }
      %>
    </div>
    <div class="col-sm-2">
      <%= f.select :animal_type,
        Pet.animal_types.keys.map {|k| [k, k]},
        {prompt:"種別▼"},
        {class: 'form-control', required: true }
      %>
    </div>
    <div class="col-sm-2">
      <%= f.select :gender,
        Pet.genders.keys.map {|k| [k, k]},
        {prompt:"性別▼"},
        {class: 'form-control', required: true }
      %>
    </div>
    <div class="col-sm-2">
      <%= f.select :avairable_area,
        Pet.avairable_areas.keys.map {|k| [k, k]},
        {prompt:"地域▼"},
        {class: 'form-control', required: true }
      %>
    </div>
    <div class="col-sm-2">
      <%= f.select :age,
        Pet.ages.keys.map {|k| [k, k]},
        {prompt:"年齢▼"},
        {class: 'form-control', required: true }
      %>
    </div>
    <div class="col-sm-2">
      <%= f.submit '検索' %>
    </div>
    <% end %>
  </div>
</div>
<div class="row">
  <% @pets.each do |pet| %>
    <div class="col-sm ">
    <div class="post-profile">
    <ul>
      <li><%= image_tag pet.image1.url , class: "circle" %></li>
      <div class="pet-profile">
      <li>種別：<%= pet.animal_type %></li>
      <li>名前：<%= pet.name %>
          性別：<%= pet.gender %></li>
      <li>去勢：<%= pet.castration %></li>
      <li>性格：<%= pet.character %></li>
      <li>地域：<%= pet.avairable_area %></li>
      <li>詳細：<%= pet.description %></li>
      <% if user_signed_in? %>
      <li><%= link_to "詳細", top_path(pet) %></li>
      </div>
      <% end %>
    </ul>
    <br>
    </div>
    </div>
  <% end %>
  </div>
  <%= paginate @pets %>
