<p>このページはトップページです。</p>

<% @pets.each do |pet| %>
  <ul>
    <li>写真1：<%= image_tag pet.image1.url %></li>
    <li>種別：<%= pet.animal_type %></li>
    <li>名前：<%= pet.name %>
        性別：<%= pet.gender %></li>
    <li>去勢：<%= pet.castration %></li>
    <li>性格：<%= pet.character %></li>
    <li>写真2：<%= image_tag pet.image2.url %></li>
    <li>写真3：<%= image_tag pet.image3.url %></li>
    <li>写真4：<%= image_tag pet.image4.url %></li>
    <li>動画：<%= pet.video %></li>
    <li>詳細：<%= pet.description %></li>
  </ul>
  <br>
<% end %>
