<div>
  <ul>
    <li><%= @pet.name %></li>
    <li><%= @pet.age %></li>
    <li><%= @pet.castration %></li>
    <li><%= @pet.category %></li>
    <li><%= @pet.animal_type %></li>
    <li><%= @pet.character %></li>
    <li><%= @pet.gender %></li>
    <li><%= image_tag @pet.image1.url %></li>
    <li><%= image_tag @pet.image2.url %></li>
    <li><%= image_tag @pet.image2.url %></li>
    <li><%= image_tag @pet.image3.url %></li>
    <li><%= @pet.description %></li>
    <li><%= link_to "戻る", top_index_path %></li>
    <li>
      <div id="favorite_<%= @pet.id %>">
        <%= render 'favorites/favorite', pet: @pet %>
      </div>
      <%  current_user.id == @pet.user_id %> <%# 投稿者とユーザーの振り分け　%>
        <%= form_with( url: reactions_path, local: true) do |form| %>
          <div class=""></div>
          <%= form.hidden_field :from_user_id, value: current_user.id %>
          <%= form.hidden_field :to_user_id, value: @pet.user_id %>
          <%= form.hidden_field :to_pet_id, value: @pet.id %>
          <%= form.hidden_field :status, value: "like" %>
          <%= form.submit "問合せ申請する", class: "submit-btn" %>
          <%= link_to 'ダイレクトメッセージ', matching_index_path %>
        <% end %>


      <div>
        <% @inquiries_users.each do |u| %>
        <ul>
         <span> <%= u.name %> </span> さんから問合せがきています。

          <%= form_with( url: reactions_path, local: true) do |form| %>
            <div class=""></div>
            <%= form.hidden_field :from_user_id, value: current_user.id %>
            <%= form.hidden_field :to_user_id, value: u.id %>
            <%= form.hidden_field :to_pet_id, value: @pet.id %>
            <%= form.hidden_field :status, value: "like" %>
            <%= form.submit "問合せ申請承認", class: "submit-btn" %>
            <%= link_to 'ダイレクトメッセージ', matching_index_path %>
          <% end %>


        </ul>
        <% end %>
      </div>
</div>
