<h1> 投稿一覧 </h1>
<div class="row">
<% @pets.each do |pet| %>
  <div class="col-sm ">
    <div class="post-profile">
      <div><%= image_tag pet.image1.url , class: "circle" %></div>
      <div class="pet-profile">
      <div class="pet-description">種別：<%= pet.animal_type %></div>
      <div class="pet-description">名前：<%= pet.name %></div>
      <div class="pet-description">性別：<%= pet.gender %></div>
      <div class="pet-description">去勢：<%= pet.castration %></div>
      <div class="pet-description">性格：<%= pet.character %></div>
      <div class="pet-description">地域：<%= pet.avairable_area %></div>
      <div class="pet-description">詳細：<%= pet.description %></div>
      <div><%= link_to "詳細画面へ", pet_path(pet) %></div>
      <div><%= link_to "編集", edit_pet_path(pet) %></div>
    </div>
  <br>
  </div>
  </div>
  <% end %>
  </div>


