<h1>Pets#index</h1>
<% @pets.each do |pet| %>
    <%= pet.name %>
    <%= pet.age %>
    <%= pet.castration %>
    <%= pet.category %>
    <%= pet.animal_type %>
    <%= pet.character %>
    <%= pet.gender %>
    <%= image_tag pet.pic_id.url %>
    <%= pet.video_id %>
    <%= pet.description %>
    <%= link_to "詳細", pet_path(pet) %>
    <%= link_to "編集", edit_pet_path(pet) %>
    <br>
  <% end %>
<%= link_to "新規投稿", new_pet_path %>
