<div>
  <div class="pet_image_background">
    <div class="pet_image">
      <%= image_tag @pet.image1.url %>
      <%= image_tag @pet.image2.url %>
      <%= image_tag @pet.image3.url %>
      <%= image_tag @pet.image4.url %>
    </div>
  </div>
  <div class="pet_content_background">
  <ul>
    <li>名前：<%= @pet.name %></li>
    <li>年齢：<%= @pet.age %></li>
    <li>去勢有無：<%= @pet.castration %></li>
    <li>種類：<%= @pet.category %></li>
    <li>性格：<%= @pet.character %></li>
    <li>性別：<%= @pet.gender %></li>
    <li>コメント：<%= @pet.description %></li>
  </ul>
    <%= link_to "編集", edit_pet_path(@pet) %>
    <%= link_to "戻る", pets_path %>
  <br>
    <%= link_to "削除", pet_path(@pet), method: :delete, data: { confirm: '本当に削除してもいいですか?' }  %>
  </div>
</div>
