<div style="height: 100vh;">
<div class="container">
  <h1>マイページ</h1>
</div>

<div class="mypage-frame">

    <%= link_to( "mypage/edit") do %>
      <div class="list-group-item">プロフィール情報の入力・編集  </div>
    <% end %>

  <div>
    <%= link_to( 'user_path', class: "decoration change") do %>
    <div class="list-group-item">お気に入り一覧</div>
    <% end %>
  </div>
  <div>
    <%= link_to( '/matching' , class: "decoration change") do %>
    <div class="list-group-item">チャット一覧</div>
    <% end %>
  </div>
  <div>
    <%= link_to( '/pets' , class: "decoration change") do %>
    <div class="list-group-item">投稿一覧</div>
    <% end %>
    </div>
    <div>
    <%= link_to(
      destroy_user_session_path,
      method: :delete,
      class: "decoration change" ) do
      %>
          <div class="list-group-item">ログアウト</div>
          <% end %>
    </div>
    <div>
          <%= link_to( '#' , class: "decoration change") do %>
          <div class="list-group-item">退会手続き</div>
          <% end %>
    </div>
</div>
</div>
