<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application',
      media: 'all',
      'data-turbolinks-track':
      'reload'
      %>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
      <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js">
      </script>
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-light align-items-start">
  <div class="container-fluid sticky-sidebar">
    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <div class="sidebar-design">
          <div>
            <button type="button" class="btn sidebar-button"><%= link_to "マイページ", mypage_users_path, class: "sidebar-button-link" %></button>
          </div>
          <div>
            <button type="button" class="btn sidebar-button"><%= link_to "トップページ", top_index_path, class: "sidebar-button-link" %></button>
          </div>
          <div>
            <button type="button" class="btn sidebar-button"><%= link_to "新規投稿", new_pet_path, class: "sidebar-button-link" %></button>
          </div>
          <div>
            <button type="button" class="btn sidebar-button"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sidebar-button-link" %></button>
          </div>
        </div>
    <% elsif admin_signed_in? %>
      <div class="sidebar-design">
        <div>
          <button type="button" class="btn sidebar-button"><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "sidebar-button-link"%></button>
        </div>
        <div>
          <button type="button" class="btn sidebar-button"><%= link_to "管理者メニュー", admins_base_show_path, class: "sidebar-button-link" %></button>
        </div>
      </div>
    <% else %>
    <div class="sidebar-design">
      <div>
        <button type="button" class="btn sidebar-button"><%= link_to "新規登録", new_user_registration_path, class: "sidebar-button-link" %></button>
      </div>
      <div>
        <button type="button" class="btn sidebar-button"><%= link_to "ログイン", new_user_session_path, class: "sidebar-button-link" %></button>
      </div>
      <br><br><br>
      <div>
        <button type="button" class="btn sidebar-button"><%= link_to "管理者ログイン", admin_session_path, class: "sidebar-button-link" %></button>
      </div>
    </div>
    <% end %>

    </div>
  </div>
</nav>

  <div class="content">
    <%= yield %>
  </div>
  </body>
</html>
